.cover{
  background-image: url('../images/icon.png');
  background-color: #ffffffa3;
  background-repeat: no-repeat;
  background-position: center;
  height: 94vh;
  z-index: 9999999;
  width: 50%;
}

.backImg{
  padding: 9em 0 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-image: url('../images/cover.jpg');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
}

#head {
  position: relative;
  height: 66%;
}

.pos-abs{
  padding: 20px;
}

a.nav-link{
  display: block;
  padding: .5rem .5rem;
  font-size: 13px;
  color: black;
}

a.nav-link:hover {
  color: rgba(0, 0, 0, 0.516);
}

ul.nav{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.py-about{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.inner {
  background-attachment: fixed, fixed, fixed;
  background-image: url("../images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.wraper{
  perspective: 1500px;
  overflow-x: hidden;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#sidebar {
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left;
  min-width: 250px;
}

#sidebar.active {
  display: block;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
}

.t{
  width: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .t{
    width: 100%;
  }
  #disapper{
    display: none;
  }
  #sidebar {
    transform: rotateY(185deg);
    margin-right: -250px;
  }
  #sidebar.active {
    transform: rotate(0deg);    
    margin-right: 60px;
  }
  #dismiss {
    display: block;
  }
}